**/bin/
**/obj/
**/.vs/
**/.idea/
**/.vscode/
**/*.user
**/*.suo
**/*.cache
**/*.pdb
**/*.dll
**/*.exe
**/*.log
**/TestResults/
**/coverage/
**/*.nupkg
**/project.lock.json

.env
*.env

docker-compose.override.yml

**/.DS_Store
